<!DOCTYPE html>
<head>
<style>
.active-false {
    color: grey;
}
</style>
</head>
{% block header %}
<h1>{{ title }}</h1>
{% endblock %}

{% block content %}
<ul>
  {% for artist in artists %}
  <li><div class="active-{{artist.active}}" data-id={{artist.id}}>Name: {{ artist.name }}, Genre: {{ artist.genre}}</div></li>
  {% endfor %}
</ul>
{% endblock %}
</html>
